{extend name="public/base" /}
{block name="body"}
    <div id="tabbar-div">
        <p>
            <span class="tab-front">通用信息</span>
            <span class="tab-front">商品描述</span>
            <span class="tab-front">商品属性</span>
            <span class="tab-front">商品相册</span>
        </p>
    </div>
    <div id="tabbody-div">
        <form enctype="multipart/form-data" action="" method="post">
            <table width="90%" class="table" align="center">
                <tr>
                    <td class="label">商品名称：</td>
                    <td><input type="text" name="goods_name" value="{$goods_info.goods_name}" />
                    <span class="require-field">*</span></td>
                </tr>
                <tr>
                    <td class="label">商品货号： </td>
                    <td>
                        <input type="text" name="goods_sn" value="{$goods_info.goods_sn}" />
                        <span id="goods_sn_notice"></span><br />
                        <span class="notice-span"id="noticeGoodsSN">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品分类：</td>
                    <td>
                        <select name="cate_id">
                            <option value="0">请选择...</option>
                            {volist name="category" id="vo"}
                                <option value="{$vo.id}" {eq name="$goods_info.cate_id" value="$vo.id" }selected="selected"{/eq} >{$vo.lev|str_repeat='&nbsp;&nbsp;',###}{$vo.cname}</option>
                            {/volist}
                        </select>
                        <span class="require-field">*</span>
                    </td>
                </tr>

                <tr>
                    <td class="label">本店售价：</td>
                    <td>
                        <input type="text" name="shop_price" value="{$goods_info.shop_price}" />
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">是否上架：</td>
                    <td>
                        <input type="radio" name="is_sale" value="1" {eq name="$goods_info.is_sale" value="1"} checked="checked"{/eq} /> 是
                        <input type="radio" name="is_sale" value="0" {eq name="$goods_info.is_sale" value="0"} checked="checked"{/eq}/> 否
                    </td>
                </tr>
                <tr>
                    <td class="label">加入推荐：</td>
                    <td>
                        <input type="checkbox" name="is_hot" value="1" {eq name="$goods_info.is_hot" value="1"} checked="checked"{/eq} /> 热卖 
                        <input type="checkbox" name="is_new" value="1" {eq name="$goods_info.is_new" value="1"} checked="checked"{/eq}/> 新品 
                        <input type="checkbox" name="is_rec" value="1" {eq name="$goods_info.is_rec" value="1"} checked="checked"{/eq}/> 推荐
                    </td>
                </tr>

                <tr>
                    <td class="label">市场售价：</td>
                    <td>
                        <input type="text" name="market_price" value="{$goods_info.market_price}"  />
                    </td>
                </tr>

                <tr>
                    <td class="label">商品图片：</td>
                    <td>
                        <input type="file" name="goods_img" size="35" /><br/>
                        <img src="{$Think.config.resource_domain}{$goods_info.goods_img}" width="80">
                    </td>
                </tr>
            </table>
            <table width="90%" class="table" align="center" style="display: none">
                <tr>
                    <td class="label">商品描述：</td>
                    <td>
                        <!-- 加载编辑器的容器 -->
                        <script id="container" name="goods_body" type="text/plain" style="min-height: 400px;">{$goods_info.goods_body|htmlspecialchars_decode}</script>
                        <!-- 配置文件 -->
                        <script type="text/javascript" src="__ADMIN__ueditor/ueditor.config.js"></script>
                        <!-- 编辑器源码文件 -->
                        <script type="text/javascript" src="__ADMIN__ueditor/ueditor.all.js"></script>
                        <!-- 实例化编辑器 -->
                        <script type="text/javascript">
                            var ue = UE.getEditor('container');
                        </script>
                    </td>
                </tr>
            </table>
            <table width="90%" class="table" align="center" style="display:none">
                <tr>
                    <td class="label">选择商品所属类型：</td>
                    <td>
                        <select name="type_id" id="selectType">
                            <option value="0">选择类型</option>
                            {volist name="type" id="vo"} 
                            <option value="{$vo.id}" data="{$goods_info.type_id}" {eq name="$goods_info.type_id" value="$vo.id" }selected="selected"{/eq} >{$vo.type_name}</option>
                            {/volist}
                        </select>
                        
                    </td>
                </tr>
                <tr>
                    <td class="label" colspan="2" id=showAttr></td>
                </tr>
            </table>
            <table width="90%" class="table pic" align="center" style="display: none">
                <tr>
                    <td  colspan="2">
                        {volist name="pics" id="vo"}
                        <div style="float: left;margin: 10px;" ><img  src="__HOME__{$vo.goods_thumb}" width="100" height="100"><input type="button" value="删除" name="" class="delPic" data-img-id="{$vo.id}" goods_id="vo.goods_id"></div>
                        {/volist}
                    </td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td >
                        <input type="button" name="" id="addPic" value="增加图片">
                    </td>
                </tr>
                <tr>
                    <td class="label">相册图片：</td>
                    <td>
                        <input type="file" name="pics[]">
                    </td>
                </tr>
            </table>
            <div class="button-div">
                <input type="submit" value=" 确定 " class="button"/>
                <input type="reset" value=" 重置 " class="button" />
            </div>
        </form>
    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">

    $('#addPic').click(function(){
        var newTr = $(this).parent().parent().next().clone();
        $('.pic').append(newTr);
    });

    $('#tabbar-div p span').click(function(){
        // 将所有的table标签全部隐藏 
        $('.table').hide();
        // 获取当前所点击的序号
        var index = $(this).index();
        // 将当前序号对应的table标签显示
        $('.table').eq(index).show();
    });
        // ajax类型切换获取属性
    $('#selectType').change(function(){
        // 获取type_id
        var type_id = $(this).val();
        if(type_id<=0){
            return;
        }
        $.ajax({
            url:"{:url('showAttr')}",
            data:{type_id:type_id},
            type:'post',
            success:function(data){
                // ajax返回结果为组装好的HTML字符串
                $('#showAttr').html(data);
            }
        })
    });

</script>
{/block}