{extend name="public:base" /}
{block name="body"}
<div class="main-div">
    <form action="" method="post" name="theForm" enctype="multipart/form-data">
        <table width="100%" id="general-table">
            <tr>
                <td class="label">快递单号:</td>
                <td>
                    <input type='text' name='no'  /> <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td class="label">快递公司:</td>
                <td>
                    <select name="com">
                        {volist name="Think.config.expiress" id="vo"}
                        <option value="{$key}">{$vo}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
        </table>
        <div class="button-div">
            <input type="submit" value=" 确定 " />
            <input type="reset" value=" 重置 " />
        </div>
    </form>
</div>
{/block}